name: "make"
cmd: "make"
sh: true

targets:
  "make run":
    cmd: "make"
    sh: true
    args: [ "run" ]
  
  "make && make run":
    cmd: "make"
    sh: true
    args: [ "&&", "make", "run" ]
  
  "make clean":
    cmd: "make"
    sh: true
    args: [ "clean" ]